<main>
    <form class="form">
        <div class="form__content">
            <h1>Sup2Marché</h1>
            <div class="styled-input">
                <input type="text" class="styled-input__input" id="email-input" required  placeholder="Email">
            </div><div class="styled-input">
                 <input type="password" class="styled-input__input" id="password-input" required placeholder="Mot de passe">
            </div>
            <button type="button" class="styled-button">
                <span class="styled-button__real-text-holder">
                    <span class="styled-button__real-text">Se connecter</span>
                    <span class="styled-button__moving-block face">
                        <span class="styled-button__text-holder">
                            <span class="styled-button__text">Se connecter</span>
                        </span>
                    </span><span class="styled-button__moving-block back">
                        <span class="styled-button__text-holder">
                            <span class="styled-button__text">Se connecter</span>
                        </span>
                    </span>
                </span>
            </button>
            
        </div>
      </form>
  </main>