<main>
    <form class="form">
        <div class="form__content">
            <h1>Sup2Marché</h1>
            <div class="styled-input">
                <input type="text" class="styled-input__input" id="email-input" required  placeholder="Email">
            </div><div class="styled-input">
                 <input type="password" class="styled-input__input" id="password-input" required placeholder="Mot de passe">
            </div>
            <div >
                <button (click)="seconnecter()" class="styled-button">
                    Se connecter
                </button>
            </div>
            
            
        </div>
      </form>
  </main>