@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
  }
  body {
    all: initial;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
  }
  * {
    box-sizing: border-box;
  }
  main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background: #1F4B8B;
  }
  .form {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    width: 400px;
    height: 440px;
    flex-shrink: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #D9D9D9;
    box-shadow: 2px 5px 5px gray;
  }
  .form__content {
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: relative;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all 0.5s ease 0.7s;
    transition: all 0.5s ease 0.7s;
  }
  h1 {
    font-size: 50px;
    margin: 10px 0 20px 0;
    letter-spacing: 0.05em;
    
    font-weight: 700;
  }
  .styled-button {
    -webkit-appearance: none;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    padding: 20px;
    outline: none;
    background: none;
    position: relative;
    color: white;
    border-radius: 3px;
    margin-bottom: 25px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    background: #00B347;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .styled-button__real-text-holder {
    position: relative;
  }
  .styled-button__real-text {
    color: transparent;
    display: inline-block;
  }
  .styled-button__text-holder {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .styled-button__moving-block {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .styled-button__moving-block.back {
    color: #00B347;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .styled-button__moving-block.back .styled-button__text-holder {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .styled-button:hover,
  .styled-button:active {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background: white;
  }
  .styled-button:hover .face,
  .styled-button:active .face {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .styled-button:hover .face .styled-button__text-holder,
  .styled-button:active .face .styled-button__text-holder {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .styled-button:hover .back,
  .styled-button:active .back {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .styled-button:hover .back .styled-button__text-holder,
  .styled-button:active .back .styled-button__text-holder {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .styled-button:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .styled-input {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .styled-input__input {
    width: 100%;
    -webkit-appearance: none;
    font-size: 14px;
    outline: none;
    background: none;
    padding: 18px 15px;
    color: black;
    border: none;
    font-weight: 600;
    letter-spacing: 0.035em;
  }
  .styled-input:hover {
    border-color: rgba(255, 255, 255, 0.4);
  }
  .styled-input.filled {
    border-color: rgba(255, 255, 255, 0.2);
  }

  @-webkit-keyframes letterAnimIn {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    25% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      color: red;
    }
    45% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      opacity: 0;
      color: red;
    }
    55% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      opacity: 0;
    }
    56% {
      -webkit-transform: translate(-30px, -27px);
              transform: translate(-30px, -27px);
      opacity: 0;
      color: #00ff6b;
    }
    76% {
      color: #00ff6b;
      opacity: 1;
      -webkit-transform: translate(-30px, -27px);
              transform: translate(-30px, -27px);
    }
    100% {
      -webkit-transform: translate(-30px, -27px);
              transform: translate(-30px, -27px);
      opacity: 1;
    }
  }
  @keyframes letterAnimIn {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    25% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      color: red;
    }
    45% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      opacity: 0;
      color: red;
    }
    55% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      opacity: 0;
    }
    56% {
      -webkit-transform: translate(-30px, -27px);
              transform: translate(-30px, -27px);
      opacity: 0;
      color: #00ff6b;
    }
    76% {
      color: #00ff6b;
      opacity: 1;
      -webkit-transform: translate(-30px, -27px);
              transform: translate(-30px, -27px);
    }
    100% {
      -webkit-transform: translate(-30px, -27px);
              transform: translate(-30px, -27px);
      opacity: 1;
    }
  }
  @-webkit-keyframes letterAnimOut {
    0% {
      -webkit-transform: translate(-30px, -27px);
              transform: translate(-30px, -27px);
      opacity: 1;
    }
    25% {
      -webkit-transform: translate(-30px, -40px);
              transform: translate(-30px, -40px);
      opacity: 0;
    }
    45% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      opacity: 0;
    }
    55% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      opacity: 0;
      color: red;
    }
    56% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      color: red;
    }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @keyframes letterAnimOut {
    0% {
      -webkit-transform: translate(-30px, -27px);
              transform: translate(-30px, -27px);
      opacity: 1;
    }
    25% {
      -webkit-transform: translate(-30px, -40px);
              transform: translate(-30px, -40px);
      opacity: 0;
    }
    45% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      opacity: 0;
    }
    55% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      opacity: 0;
      color: red;
    }
    56% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      color: red;
    }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  
  
  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      opacity: 0;
    }
    50% {
      stroke-dasharray: 40, 200;
      opacity: 1;
    }
    100% {
      stroke-dasharray: 125, 200;
      opacity: 1;
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      opacity: 0;
    }
    50% {
      stroke-dasharray: 40, 200;
      opacity: 1;
    }
    100% {
      stroke-dasharray: 125, 200;
      opacity: 1;
    }
  }
  