<main>
  <form (ngSubmit)="login(taskForm)" #taskForm="ngForm" class="form">
      <div class="form__content">
          <h1>Sup2Marché</h1>
          <div class="styled-input">
              <input [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" type="text" class="styled-input__input" id="email-input" required  placeholder="Email">
          </div><div class="styled-input">
               <input [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" type="password" class="styled-input__input" id="password-input" required placeholder="Mot de passe">
          </div>
          <input type="submit" class="styled-button" value="se connecter">

      </div>
    </form>
</main>
