<ul>
    <li><a><i class="fa-solid fa-user" style="font-size: 25px; margin-right: 12px;"></i>Role :  </a></li>
    <li><a >Name : </a></li>
    <li style="float: right;" (click)="sedeconnecter()"><a><i class="fa-solid fa-right-from-bracket" style="font-size: 25px; "></i></a></li>
</ul>
<button class="btnValider" (click)="newProduct()">Ajouter produit</button>
<div class="conteneurProduits">
        <div *ngFor="let produit of produits" class="produit"> <div style="margin-right: 10px; ">{{produit.ref}}</div>
            <i class="fa-solid fa-minus" (click)="enleverProduit('3','100')"></i>
            <div>{{produit.quantite}}</div>
            <i class="fa-solid fa-plus" (click)="ajouterProduit()"></i>
            <i class="fa-solid fa-trash" (click)="supprimerProduit()" style="color: #ff0000;"></i>
        </div>

     <button class="btnValider">Valider</button>
</div>
<router-outlet></router-outlet>

