<ul>
    <li><a><i class="fa-solid fa-user" style="font-size: 25px; margin-right: 12px;"></i>Role :  </a></li>
    <li><a >Name : </a></li>
    <li style="float: right;" (click)="sedeconnecter()"><a><i class="fa-solid fa-right-from-bracket" style="font-size: 25px; "></i></a></li>
</ul>
<button class="btnValider" (click)="openDialog()">Ajouter produit</button>
<div class="conteneurProduits">
        <div *ngFor="let produit of elements" class="produit"> <div style="margin-right: 10px; ">{{produit.nom}}</div>
            <i class="fa-solid fa-minus" (click)="update('moins',produit.id,produit.quantite-1)"></i>
            <div>{{produit.quantite}}</div>
            <i class="fa-solid fa-plus" (click)="update('plus',produit.id,produit.quantite+1)"></i>
            <i class="fa-solid fa-trash" (click)="supprimerProduit()" style="color: #ff0000;"></i>
        </div>


</div>
<router-outlet></router-outlet>

